@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-main-blue: #0f4c81;
  --color-light-blue: #b6d8f6;
  --color-bg-blue: #f0f4f8;
  --color-text-blue: #34495e;
  --color-main-gold: #a38d6d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
